---
import header from "../components/css/header.module.css";
---

<header class={header.header}>
  <nav class={header.nav}>
    <button class={header.button}></button>
    <a href="/" class={header.a}>Inicio</a>
    <a href="/about" class={header.a}>Sobre Mi</a>
    <a href="#" class={header.a}>Proyectos</a>
    <a href="/contact" class={`${header.a} ${header.active}`}>Contacto</a>
    <button class={header.button}></button>
  </nav>
</header>
